/* SETUP */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Rock+Salt&family=Special+Elite&display=swap');

@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

/* DEFAULT (MOBILE) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 38px;
    color: rgb(88, 85, 85);
}

h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 34px;
    margin-bottom: 20px;
    color: rgb(88, 85, 85);
    line-height: 1;
}

h3 {
    font-family: 'Londrina Solid', cursive;
    font-size: 30px;
    color: rgb(88, 85, 85);
    line-height: 1.1;
}

h4 {
    font-family: 'Londrina Solid', cursive;
    font-size: 26px;
    color: rgb(88, 85, 85);
    line-height: 1.1;
}

p {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
    color: #383433;
}

a {
    color: rgb(88, 85, 85);
    text-decoration: none;
}

a:hover {
    color: lightgray;
}

hr {
    background: #f5f5f5;
    border: 0;
    height: 2.5px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside;
    margin-left: 15px; 
 }

li {
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}

/* BASE STUFF */

main {
    margin: 20px;
}

img {
    width: 100%;
}

.read-more {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: rgb(75, 75, 75);
    padding-bottom: 20px;
    font-size: 14px;
}

.read-more a {
    color: rgb(75, 75, 75);
    text-decoration: underline;
}

.read-more a:hover {
    color: lightgray;
}

/* NAVIGATION */

.site-logo {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 60%;
    opacity: 0.70;
}

.site-logo:hover {
    opacity: 0.2;
}

nav {
    text-transform: uppercase;
    text-align: center;
}

nav a {
    color: rgb(75, 75, 75); 
}

nav ul {
    display: inline-block;
    margin-left: 0px; 
}

nav ul li {
    float: left;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
}


/* FOOTER */

footer {
    text-align: center;
}

footer p {
    font-size: 13px;
    color: rgb(75, 75, 75);
    padding-bottom: 30px;
    font-family: 'Oswald', sans-serif;
}

/* 404 */

.four-oh-four-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.four-oh-four-message h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.four-oh-four-message p {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.four-oh-four-message a {
    text-decoration: underline;
}

/* NEWS STORIES */

.news-story {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 80%;
    background-color: #fffefe;
    background-image: url("/images/paper-texture.png");
    color: #383433;
    padding: 20px 25px 30px 25px;
    box-shadow: 0px 0px 20px 0px rgba(160, 160, 160, 0.95);
    border-radius: 2px;
}

.news-story a {
    color: rgb(88, 85, 85);
    text-decoration: none;
}

.news-story a:hover {
    color: gray;
}

.story-image {
    filter: grayscale(100%);
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 2px;
}

.story-copy {
    text-indent: 10%;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
  }

.hyperlink-icon {
    width: 7%;
    display: block;
    position: absolute;
    bottom: 35px;
    left: 35px;
    opacity: 0.5;
}

.hyperlink-icon:hover {
    opacity: 0.7;
}

.story-date {
    text-align: right;
    font-family: 'Rock Salt', cursive;
    transform: rotate(-5deg);
    color: darkred;
    margin-top: 20px;
}

.more-posts {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 25px;
}

.more-posts p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.more-posts a {
    text-decoration: underline;
}

/* NEWS ARCHIVE */

.news-archive-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.news-story-archive {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    width: 100%;
    background-color: #fffefe;
    background-image: url("/images/paper-texture.png");
    color: #383433;
    box-shadow: 0px 0px 20px 0px rgba(160, 160, 160, 0.95);
}

.news-story-archive:hover {
    opacity: 0.7;
}

.archive-content {
    padding: 20px;
}

.archive-blurb {
    text-indent: 10%;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
    font-size: 15px;
}

.archive-date {
    text-align: right;
    font-size: 14px;
    font-family: 'Rock Salt', cursive;
    transform: rotate(-5deg);
    color: darkred;
    margin-top: 10px;
    margin-bottom: -10px;
}

/* LETTERS FROM THE EDITOR */

.letter {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f5f0da;
    background-image: url("https://www.transparenttextures.com/patterns/paper-2.png");
    box-shadow: 0px 0px 20px 0px rgba(160, 160, 160, 0.95);
    margin-bottom: 50px;
}

.letter-text-container {
    padding: 50px;
}

.letter p {
    font-family: 'La Belle Aurore', cursive;
    color: rgb(6, 6, 94);
    font-size: 18px;
    padding-bottom: 20px;
    line-height: 1.2;
}

/* TABLET */

@media only screen and (min-width: 468px) {

.site-logo {
    width: 38%;
}

.news-story {
    width: 50%;
}

.news-archive-container {
    width: 50%;
}

.letter {
    width: 60%;
}

.more-posts {
    width: 50%;
}

}

/* DESKTOP */

@media only screen and (min-width: 1200px) {

.site-logo {
    width: 18%;
}

.news-story {
    width: 25%;
}

.more-posts {
    width: 25%;
}

.news-archive-container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.news-story-archive {
    width: 330px;
    margin: 30px;
}

.letter {
    width: 45%;
}

.letter p {
    font-size: 25px;
}

}
