/* SETUP */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Rock+Salt&family=Special+Elite&display=swap');

/* DEFAULT (MOBILE) */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
    font-family: 'Londrina Solid', cursive;
    font-size: 2em;
}

h2 {
    font-family: 'Londrina Solid', cursive;
    font-size: 36px;
}

h3 {
    font-family: 'Londrina Solid', cursive;
    font-size: 32px;
}

p {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
}

a {
    color: blue;
}

a:hover {
    color: gray;
}

hr {
    background: #f5f5f5;
    border: 0;
    height: 2.5px;
    width: 95%;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul { 
    list-style-type: disc; 
    list-style-position: inside;
    margin-left: 15px; 
 }

li {
    font-family: 'Special Elite', cursive;
    font-size: 16px;
}

/* BASE STUFF */

main {
    padding: 20px 0px;
}

/* NAVIGATION */

nav {
}

.nav-box {
    width: 100%;
    margin: 30px;
}

nav ul {
    list-style-type: none;
    width: 100%;
    margin-bottom: 20px;
    background-color: #333;
  }

nav li {
    float: left;
    padding-right: 30px;
}

/* FOOTER */

footer {
    text-align: center;
}

footer p {
    font-size: 12px;
    color: #f5f5f5;
    padding: 20px;
}

/* NEWS STORIES */

.news-story {
    margin: auto;
    width: 80%;
    background-color: #fffefe;
    background-image: url("/images/paper-texture.png");
    color: #383433;
    padding: 20px 25px 30px 25px;
    box-shadow: 0px 0px 20px -1px rgba(191,181,191,0.96);
    transform: rotate(1deg);
}

.story-copy {
    text-indent: 10%;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
  }

.story-date {
    text-align: right;
    font-family: 'Rock Salt', cursive;
    transform: rotate(-5deg);
    color: darkred;
}

/* TABLET */

@media only screen and (min-width: 468px) {

.news-story {
    width: 50%;
}

}

/* DESKTOP */

@media only screen and (min-width: 1200px) {

.news-story {
    width: 25%;
}

}