---
title: 404
permalink: 404.html
layout: base.njk
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
    </head>
    <body>

        <div class="four-oh-four-message">
            <h2>Well, shit.</h2>
            <p>Something's gone terribly, terribly wrong. Try the <a href="{{ "/" | url }}">home page?</a></p>
        </div>

    </body>
</html>