---

layout: base.njk
title: Home

---


<!doctype html>

<html>

<head>

    <title>The Whale-Lines</title>

</head>

<body>

<main>

    <ul>
      {%- for post in collections.news | reverse -%}
      <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
      {%- endfor -%}
    </ul>

</main>

</body>

</html>