---

layout: base.njk
title: Home

---


<!doctype html>

<html>

<head>

    <title>The Whale-Lines</title>

</head>

<body>

<main>

  <div class="articles-container">

  {% set latest_posts = collections.news | reverse %}
  {% for post in latest_posts.slice(0,10) %}

      <article class="news-story">

        <h2>{{ post.data.title }}</h2>

        <div class="story-copy">

        {{ post.templateContent | safe }}

        </div>

        <p class="story-date"><a href=" {{ post.url }} "><date> {{ post.date.toDateString() }} </date></a></p>

      </article>

  {%- endfor -%}

  <p>More posts can be found in <a href="{{ '/news/' | url }}">the archive</a>.</p>

  </div>

<main>

</body>

</html>