---

layout: base.njk
permalink: /letters/
title: Letters from the Editor

---

    {%- for post in collections.letters | reverse -%}

      <div class="letter" style="transform: rotate({{ post.data.angle }}deg);">

        <div class="letter-text-container">

          {{ post.templateContent | safe }}

        </div>

      </div>

    {%- endfor -%}