---

layout: base.njk
permalink: /news/
title: Archive

---

<main>

  <div class="news-archive-container">

    {%- for post in collections.news | reverse -%}

      <a href="{{ post.url }}"><div class="news-story-archive" style="transform: rotate({{ post.data.angle }}deg);">

      <div class="archive-content">

        <h4>
          {{ post.data.title }}
        </h4>

        <p class="archive-blurb">{{ post.data.description }} [...]</p>

        <p class="archive-date">
          <date>{{ post.date.toDateString() }}</date>
        </p>

      </div>

      </div></a>

    {%- endfor -%}

  </div>

</main>