---
permalink: /sitemap.xml
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

<url>
  <loc>https://thewhalelines.com/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/letters/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/humiliation-fetishists-flock-to-trump-campaign-legal-teams/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/democratic-rigging-committee-chair-sacked-for-forgetting-senate/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/next-season-of-american-horror-story-to-be-live-footage-of-american/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/sacha-baron-cohen-reveals-donald-trump-is-one-of-his-characters/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/love-discontinued-after-quantitative-assessment-finds-it-lacking-in-value/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/tories-to-retrain-as-competent-leaders/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/life-on-venus-begs-humanity-to-leave-it-alone/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/god-admits-to-selling-prayer-data-to-advertisers/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/vince-mcmahon-wins-presidential-debate-with-top-rope-finish/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/person-learns-from-mistake/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/un-recognises-powerpoint-presentations-as-torture/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/usps-mail-collection-boxes-replaced-with-incinerators/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/q-of-q-continuum-behind-qanon/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/lizard-people-furious-no-one-takes-them-seriously-any-more/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/surgeons-protest-surgical-glove-tyranny/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/elon-musks-uberwheel-just-unicycle-with-led-lights-on-it/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/russia-shrugs-off-58-percent-vaccine-fatality-rate/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/vanquished-martian-invaders-refused-to-wear-masks/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/whistleblower-treated-with-dignity-and-respect/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/senate-passes-motivational-posters-act/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/sisyphus-rebranded-as-person-arguing-on-facebook/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/political-debates-replaced-with-fights-to-the-death/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/usa-declares-war-on-war/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/shock-as-open-letter-changes-nothing/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/hare-loses-race-after-arguing-with-rabbits-on-twitter/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/government-runs-perfectly-after-being-sprayed-with-wd-40/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/world-leader-takes-a-knee-does-literally-nothing-else/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/willy-wonka-declares-bankruptcy-following-legal-defeats/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/journalists-foiled-by-ball-on-string/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/guy-who-does-card-trick-at-parties-finally-gets-laid/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/bob-dylan-releases-two-year-17408-verse-song/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/declassified-docs-reveal-jesus-was-killed-by-cia/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/book-sales-skyrocket-as-public-invests-in-zoom-backgrounds/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/nancy-pelosi-wears-resistance-pin-during-political-capitulation/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/clumsy-dj-drops-mixtape-in-river/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/trump-sarcastically-nukes-canada/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/satire-returns-after-satirists-take-badly-to-real-world/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/obituary-baxter-the-cat/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/obituary-mittens-the-cat/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/satire-discontinued-following-trumps-latest-press-conference/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/dow-jones-surpasses-christianity-as-usas-most-popular-religion/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/not-having-tattoos-now-cooler-than-having-them/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/relief-as-only-normal-porn-found-on-popes-computer/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/ted-cruz-melts-after-intern-spills-water-on-him/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/dc-elites-moved-to-truman-show-style-dome/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/democrats-unconcerned-by-reports-joe-biden-is-the-zodiac-killer/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/hayao-miyazaki-announces-new-films-at-retirement-party/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/ironically-vain-instagram-star-gets-ironic-nose-job/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/dakota-johnsons-feet-land-role-in-next-tarantino-film/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/alabama-to-trial-child-armament-scheme/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/leftists-lose-election-claim-future-is-theirs/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/white-house-prescribes-burying-head-in-sand-as-covid-treatment/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/aliens-abducted-by-matt-bellamy/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/un-passes-resolution-for-pirates-to-be-more-whimsical/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/statue-of-liberty-deported-to-france/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/record-low-seven-war-criminals-nominated-for-nobel-peace-prize/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/mosquito-rights-activists-firebomb-raid-factory/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/logan-paul-apologises-for-atom-bomb-prank/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/local-man-mistakes-being-bright-for-being-exceptional/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/next-fifa-game-to-add-racist-abuse-controls/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/uk-government-to-build-two-million-unaffordable-homes/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/perfect-vacuum-found-in-postmoderist-college-department/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/star-trek-spin-off-keeping-up-with-the-cardassians-confirmed/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/well-intentioned-policy-free-petition-reaches-27-million-signatures/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/oasis-reunite-for-car-park-brawl/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/scientists-generate-electricity-from-george-orwell-spinning-in-his-grave/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/nick-clegg-hired-by-north-korea-tourism-agency/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/apple-accuses-architect-of-building-hq-built-to-collapse/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/jeremy-corbyn-apologises-for-saying-the-road-to-gulag-was-built-with-good-intentions/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/stewart-lee-tells-joke/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/twelve-novels-found-in-harper-lees-glove-compartment/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/chelsea-clintons-unborn-child-announces-senate-run/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/jacob-rees-mogg-under-fire-for-wearing-silk-pyjamas-in-parliament/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.64</priority>
</url>


</urlset>