---
permalink: /sitemap.xml
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
<url>
  <loc>https://thewhalelines.com/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>1.00</priority>
</url>
<url>
  <loc>https://thewhalelines.com/news/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
<url>
  <loc>https://thewhalelines.com/letters/</loc>
  <lastmod>2020-11-18T16:31:14+00:00</lastmod>
  <priority>0.80</priority>
</url>
{%- for post in collections.news | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <loc>https://thewhalelines.com{{ absolutePostUrl }}</loc>
    <lastmod>{{ post.date }}</lastmod>
  </entry>
{%- endfor %}
{%- for post in collections.letters | reverse %}
  {% set absolutePostUrl %}{{ post.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <loc>https://thewhalelines.com{{ absolutePostUrl }}</loc>
    <lastmod>{{ post.date }}</lastmod>
  </entry>
{%- endfor %}
</urlset>