---

title: The Whale-Lines

---

<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="icon" type="image/png" href="/images/favicon-circle.png">

    <meta
      name="monetization"
      content="$ilp.uphold.com/G7U2HWjBghge">

    <title>{{ title or metadata.title }} | The Whale-Lines</title>
    <meta name="description" content="{{ description or metadata.description }}">

    <!-- FACEBOOK CARD METADATA -->

    <meta property="og:title" content="{{ title or metadata.title }} | The Whale-Lines"/>
    <meta property="og:description" content="{{ description or metadata.description }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ url or page.url }}"/>
    <meta property="og:image:url" content="https://thewhalelines.com/images/brand-images/site-featured-fb.jpg"/>
    <meta property="og:image:alt" content="A random pile of old newspapers."/>
    <meta property="og:site_name" content="The Whale-Lines"/>

    <!-- TWITTER CARD METADATA -->

    <meta name="twitter:title" content="{{ title or metadata.title }} | The Whale-Lines">
    <meta name="twitter:description" content="{{ description or metadata.description }}">

    {% if imageSocial or metadata.imageSocial %}

      <meta name="twitter:image" content="https://thewhalelines.com{{ imageSocial or metadata.imageSocial }}">
      <meta name="twitter:image:alt" content="{{ imageAlt or metadata.imageAlt }}">

    {% else %}

      <meta name="twitter:image" content="https://thewhalelines.com/images/brand-images/site-featured.jpg">
      <meta name="twitter:image:alt" content="A pile of old newspapers in black and white">

    {% endif %}

    <meta name="twitter:card" content="summary_large_image">

  </head>

  <body>

    <header>

      <a href="/"><img class="site-logo" src="/images/brand-images/full-logo.png" alt="Logo of The Whale-Lines"></a>

      <nav>
        <ul>
          <li>
            <a href="/news/">News</a>
          </li>
          <li>
            <a href="/letters/">Letters from the Editor</a>
          </li>
          <li>
            <a href="/feed.xml">RSS</a>
          </li>
        </ul>
      </nav>

    </header>

    <main>

      {{ content | safe }}

    </main>

    <footer>

      <p>No rights reserved.</p>

    </footer>

  </body>

</html>