---

layout: base.njk

---

  <body>

    <div class="letter" style="transform: rotate({{ angle }}deg);">

      <div class="letter-text-container">

      {{ content | safe }}

      </div>

    </div>

  </body>

</html>