---

layout: base.njk

---

<head>

  <meta property="og:title" content="{{ title }} | The Whale-Lines"/>
  <meta property="og:type" content="article"/>
  <meta property="og:url" content="{{ url }}"/>
  <meta property="og:image:url" content="https://thewhalelines.com/images/brand-images/site-featured-fb.jpg"/>
  <meta property="og:image:alt" content="A random pile of old newspapers."/>
  <meta property="og:site_name" content="The Whale-Lines"/>
  <meta property="og:description" content="{{ description }}"/>

  <meta name="twitter:title" content="{{ title }} | The Whale-Lines">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="https://thewhalelines.com/images/brand-images/site-featured.jpg">
  <meta name="twitter:card" content="summary_large_image">

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SatiricalArticle",
      "url": "https://thewhalelines.com{{ page.url | url }}",
      "publisher": {
        "@type": "Organization",
        "name": "The Whale-Lines",
        "description": "A fake news paper.",
        "logo": "https://thewhalelines.com/images/brand-images/full-logo.png",
        "url": "https://thewhalelines.com"
      },
      "author": {
        "@type": "Person",
        "name": "J. W. Marceau"
      },
      "headline": "{{ title }}",
      "mainEntityOfPage": "https://thewhalelines.com{{ page.url | url }}",
      "articleBody": "{{ content | striptags }}",
      "image": "https://thewhalelines.com/images/brand-images/site-featured.jpg",
      "datePublished": "{{ date }}"
    }
  </script>

</head>

<body>

  <main>

    <div class="articles-container">

      <article class="news-story" style="transform: rotate({{ angle }}deg);">

        <h2>{{ title }}</h2>

        {% if image %}

          <figure>
            <img class="story-image" src="{{ image }}" alt="{{ imageAlt }}">
            <figcaption>{{ imageCaption }}</figcaption>
          </figure>

        {% endif %}

        <div class="story-copy">

          {{ content | safe }}

        </div>

        <p class="story-date">
          <date>{{ date.toDateString() }}</date>
        </p>

        <a class="twitter-share-button" target="_blank"
  href="https://twitter.com/intent/tweet?text={{title}}&url=https://thewhalelines.com{{page.url}}">
          <img class="twitter-icon" alt="Black Twitter icon" src="/images/brand-images/twitter-icon.png">
        </a>

      </article>

    </div>

    <div class="more-posts">
      <p>
        {%- set nextPost = collections.news | getNextCollectionItem(page) %}
        {%- if nextPost %}
          <strong>↼ <a href="{{ nextPost.url | url }}">Next</a> | </strong>
        {% endif %}
        {%- set previousPost = collections.news | getPreviousCollectionItem(page) %}
        {%- if previousPost %}
          <strong>
            <a href="{{ previousPost.url | url }}">Previous</a> ⇁</strong>
        {% endif %}
      </p>

    </div>

  </main>

</body>

</html>