---

layout: base.njk

---

  <head>

  </head>

  <body>

    <main>

    <div class="articles-container">

    <article class="news-story">

      <h2> {{ title }}</h2>

      <div class="story-copy">

        {{ content | safe }}

      </div>

      <p class="story-date"><date> {{ date.toDateString() }} </date></p>

    </article>

    </div>

    </main>

  </body>

</html>