---

layout: base.njk

---

<head>

  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "SatiricalArticle",
      "url": "https://thewhalelines.com{{ page.url | url }}",
      "publisher": {
        "@type": "Organization",
        "name": "The Whale-Lines",
        "description": "A fake news paper.",
        "logo": "https://thewhalelines.com/images/brand-images/full-logo.png",
        "url": "https://thewhalelines.com"
      },
      "author": {
        "@type": "Person",
        "name": "J. W. Marceau"
      },
      "headline": "{{ title }}",
      "mainEntityOfPage": "https://thewhalelines.com{{ page.url | url }}",
      "articleBody": "{{ content | striptags }}",
      "image": "https://thewhalelines.com/images/brand-images/site-featured.jpg",
      "datePublished": "{{ date }}"
    }
</script>

</head>

<body>

  <main>

    <div class="articles-container">

      <article class="news-story" style="transform: rotate({{ angle }}deg);>
">

        <h2>
          {{ title }}</h2>

        {% if image %}

          <img class="story-image" src="{{ image }}" alt="{{ imageAlt }}">

        {% endif %}

        <div class="story-copy">

          {{ content | safe }}

        </div>

        <p class="story-date">
          <date>{{ date.toDateString() }}</date>
        </p>

      </article>

    </div>

    <div class="more-posts">
    <ul>
      {%- set nextPost = collections.news | getNextCollectionItem(page) %}
      {%- if nextPost %}
        <li><strong>Next:</strong> <a href="{{ nextPost.url | url }}">{{ nextPost.data.title }}</a>
        </li>
      {% endif %}
      {%- set previousPost = collections.news | getPreviousCollectionItem(page) %}
      {%- if previousPost %}
        <li><strong>Previous:</strong> <a href="{{ previousPost.url | url }}">{{ previousPost.data.title }}</a>
        </li>
      {% endif %}
    </ul>

    </div>

  </main>

</body>

</html>