---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import StoryTeaser from "../components/StoryTeaser.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./news/*.{md,mdx}")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title="Archive"
      description="All the stories ever published by the Whale-Lines"
    />
    <style>
      .news-archive-container {
        width: 90%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    </style>
  </head>
  <body>
    <Header />
    <main>
      <section>
        <div class="news-archive-container">
          {
            posts.map((post) => (
              <StoryTeaser
                headline={post.frontmatter.headline}
                blurb={post.frontmatter.blurb}
                date={post.frontmatter.date}
                url={post.url}
              />
            ))
          }
        </div>
      </section>
    </main>
    <Footer />
  </body>
</html>
