---
import { formatDate, randomIntFromInterval } from "../../helpers";

export interface Props {
  headline: string;
  blurb: string;
  date: string;
  url: string;
}

const { headline, blurb, date, url } = Astro.props;

const teaserAngle = `rotate(${randomIntFromInterval(-1, 1)}deg)`;
---

<a href={url}>
  <div class="news-story-archive">
    <div class="archive-content">
      <h4>
        {headline}
      </h4>

      <p class="archive-blurb">{blurb} [...]</p>

      <p class="archive-date">
        <date>{formatDate(date)}</date>
      </p>
    </div>
  </div>
</a>

<style define:vars={{ teaserAngle }}>
  h4 {
    font-family: "Londrina Solid", cursive;
    font-size: 1.6em;
    color: rgb(88, 85, 85);
    line-height: 1.1;
  }
  .news-story-archive {
    transform: var(--teaserAngle);
    margin-top: 30px;
    margin-bottom: 60px;
    width: 330px;
    margin: 30px;
    background-color: #fffefe;
    background-image: url("/images/paper-texture.png");
    color: #383433;
    box-shadow: 0px 0px 20px 0px rgba(160, 160, 160, 0.95);
  }

  .news-story-archive:hover {
    opacity: 0.7;
  }

  .archive-content {
    padding: 20px;
  }

  .archive-blurb {
    text-indent: 10%;
    line-height: normal;
    text-align: justify;
    text-justify: inter-word;
    padding-top: 10px;
    font-size: 15px;
    font-family: "Special Elite", cursive;
    font-size: 1em;
    color: #383433;
  }

  .archive-date {
    text-align: right;
    font-size: 14px;
    font-family: "Rock Salt", cursive;
    transform: rotate(-5deg);
    color: darkred;
    margin-top: 10px;
    margin-bottom: -10px;
  }
</style>
